.form-group {
  text-align: center;
}

table tr {
  max-height: 5px;
}

img {
  width: 100px;
  height: 100px;
}

.notice {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  color: #000 !important;
  border: 2px solid red;
  background-color: #f0f0f0;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
}
